<%= form_with(model: current_user, url: deposit_path, data: {turbo_frame: "_top"}, class: "h-[30vh] w-full flex flex-col gap-[3rem]") do |form| %>
  <%= form.text_field :amount, placeholder: "Amount", class: "text-black rounded-md" %>
  <div class="flex flex-row w-full justify-evenly h-[10vh]">
    <%= form.submit "Deposit",class: "bg-green-700 h-[5vh] w-[30%] rounded-md" %>
    <%= link_to "Cancel", profile_path, data: {
        controller: "modals",
        action: "modals#close"
      }, class: "bg-blue-700 h-[5vh] w-[30%] rounded-md center-item" %>
  </div>
</div>
<% end %>