<table class="w-full border text-center">
        <thead>
          <tr>
            <th>Name</th>
            <th>Share</th>
            <th>Price</th>
            <th>Type</th>
            <th>Amount</th>
          </tr>
        </thead>
        <% if @transactions.empty? %>
          <tbody></tbody>
        <% else %>
          <% @transactions.each do |t| %>
            <tbody>
              <tr>
                <td><%= t.stock_name %></td>
                <td><%= t.price %></td>
                <td><%= t.share %></td>
                <% if t.is_buy == true %>
                  <td class="text-green-700">Buy</td>
                <% else %>
                  <td class="text-red-700">Sell</td>
                <% end %>
                <td><%= number_to_currency(t.share * t.price, precision: 2) %></td>
              </tr>
            </tbody>
          <% end %>
        <% end %>
      </table>