<%= turbo_frame_tag "modal" do%>
<div class="modal  bg-white bg-opacity-25 backdrop-filter backdrop-blur-lg p-8 rounded-2xl shadow-lg text-white w-[20%] h-[30vh] flex flex-col center-item overflow-hidden ">
<h1 class="uppercase text-[1.5rem]">Deposit</h1>
<br>
<%= render 'stocks/deposit' %>

</div>

<% end %>
