<%= turbo_frame_tag "modal" do%>
<div class="modal primary-color text-white w-[20%] h-[30vh] flex flex-col center-item overflow-hidden">
<h1>Deposit</h1>
<br>
<%= render 'stocks/deposit' %>

</div>

<% end %>
