@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .full-size{
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
  }

  
}
