@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    overflow-y: hidden;
  }

  .full-size {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
  }

  .center-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* modal jean */
  .modal {
    position: fixed;
    z-index: 1;
    padding: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.629);
  }

  .cancel-button {
    background-color: #1530ff;
    font-size: 12px;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    text-decoration: none;
  }
  .cancel-button:hover {
    background-color: #2640fe;
  }
  
  .automatic {
    overflow-y: scroll;
  }

  .primary-color{
    background: #1e222d;
  }

  .scroll::-webkit-scrollbar {
    width: 5px;
}
.scroll::-webkit-scrollbar-thumb {
 background-color: gray; 
}
}
